.cart__contain {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100vh - 100px);
	background: var(--background);
	z-index: 2;
}

@media (min-width: 700px) {
	.cart__contain {
		right: 0;
		left: auto;

		width: 500px;
	}
}
