.header__contain {
	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100px;
	width: 100%;
	padding: 25px 10px;
	background: var(--mostarda);
}

.header__contain .form__contain {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.header__contain .form__contain input {
	height: 50px;
	width: calc(100% - 60px);
	border: solid 1px var(--blue);
	background: var(--background);
	border-radius: 10px;
	font-size: 1.05rem;
	padding: 0 20px;
	outline: none;
}

.header__contain .form__contain button {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;

	height: 50px;
	width: 50px;
	border-radius: 10px;
	border: solid 1px var(--blue);
	color: var(--blue);
}

.header__contain .cartIcon__contain {
	display: none;
	align-items: center;
	justify-content: center;

	position: relative;
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 50%;
	color: var(--blue);
}

.header__contain .cartIcon__contain.active {
	background: var(--background);
	border: solid 1px var(--blue);
}

@media (min-width: 700px) {
	.header__contain {
		justify-content: space-between;

		padding: 25px 40px;
	}

	.header__contain .form__contain input {
		width: 400px;
	}

	.header__contain .cartIcon__contain {
		display: flex;
	}
}
