.products__contain {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 40px;

	margin-top: 100px;
	width: 100%;
}

@media (min-width: 700px) {
	.products__contain {
		display: grid;
		align-items: center;
		justify-content: center;
		row-gap: 40px;
		column-gap: 20px;

		grid-template-columns: repeat(auto-fill, 300px);
	}
}
