.sort__contain {
	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
	background: var(--background);
	padding: 0 50px;
	border: solid 1px var(--blue);
	height: 50px;
	border-radius: 10px;
	cursor: pointer;
}

.sort__contain.active {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.sort__contain h3 {
	font-size: 1rem;
	font-weight: 500;
	white-space: nowrap;
}

.sort__contain ul {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	position: absolute;
	top: 50px;
	width: max-content;
	background: inherit;
	border-top: solid 1px var(--blue);
	padding-top: 20px;
	width: 100%;
	opacity: 0;
	overflow: hidden;
	transition: 0.2s;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.sort__contain ul.active {
	height: auto;
	opacity: 1;
}

.sort__contain ul li {
	font-size: 1rem;
	font-weight: 500;
	list-style: none;
	margin-bottom: 20px;
	cursor: pointer;
}
