.cartFloat__contain {
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	color: var(--background);
}

.cartFloat__contain .cart {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 61px;
	height: 61px;
	border-radius: 50%;
	background: var(--orange);
}
