.cartFloat__contain {
	position: fixed;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
	color: var(--background);
}

.cartFloat__contain .cart {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 61px;
	height: 61px;
	border-radius: 50%;
	background: var(--orange);
}

.cartFloat__contain .cartNumber {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	text-align: center;
	bottom: 0;
	left: 0;
	height: 18px;
	width: 18px;
	font-size: 0.7rem;
	border-radius: 50%;
	background: var(--blue);
}
