.products__contain {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  
	width: 100%;
}

.products__contain .product__card {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 10px;

	width: 100%;
	max-width: 340px;
	padding: 10px;
	background: var(--mostarda);
}

.products__contain .product__card .image__contain img {
	max-width: 100%;
	max-height: 100%;
}

.products__contain .product__card .description__contain {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
}

.products__contain .product__card .description__contain p {
	font-size: 2.5rem;
	font-weight: 400;
}

.products__contain .product__card .description__contain h2 {
	font-size: 1rem;
	font-weight: 400;
}
